body {

}


table {
  border-collapse: collapse; /* Убирает промежутки между границами ячеек */
  width: 100%; /* Задаёт ширину таблицы в 100 % от родительского контейнера */
  margin: 0 auto; /* Выравнивает таблицу по центру */
}

th, td {
  border: 1px solid #ddd; /* Задаёт границы ячеек */
  padding: 8px; /* Задаёт отступы внутри ячеек */
  text-align: left; /* Выравнивает текст по левому краю */
}

.sort-arrow {
  margin-left: 5px;
  font-weight: bold;
  transition: transform 0.2s;
}

.sort-arrow.asc {
  color: #007bff;
}

.sort-arrow.desc {
  color: #007bff;
}
